<div class="show-resalt">
    <h2 class="show-resalt__title">Your Resalt :</h2>
    <p class="show-resalt__quantity-answers">{{correctAnswers}}/10</p>
    <button class="show-resalt-btn page-btn">Start Again!</button>
</div>