html {
  box-sizing: border-box;
  height: 100%;
}

body {
  max-height: 100%;
  background-color: #242582;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  height: 100vh;
  overflow: hidden;
}

/* font-family: 'Raleway', ; */
/* background-color: #242582; */
/* color: #ffffff */
/* border-color: #f64c72; */

/* text color */
